.back__a{
    display: flex;
    background-color: rgb(255, 255, 255);
    padding: 15px 30px 15px 33px;
    border-radius: 30px;
    text-decoration: none;
    align-items: center;
    font-size: 19px;
    font-weight: 700;
    text-decoration: none;
    color: #000000af;
    top: 0px;
    box-shadow: 0px 5px 10px 0px rgb(89 89 89);
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55)
}
.back__arrow{
    background-image: url(img/arrow.png);
    padding: 9px 9px;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    display: flex;
}
.back__div{
    display: flex;
    align-items: center;
    margin: 0px 0px 0px 3px;
}
.back__a{
    margin: 0px 10px 0px 0px;
    transition: 0.1s ease;
    top: 0px;
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55)
    
}
.back__a:active{
    top: 5px;
    transition: 0.1s ease;
    display: flex;
    box-shadow: 0px 2px 4px 0px rgb(94, 94, 94);
    color: black;
}
.back__a:hover{
    position: relative;
    background-color: rgb(153, 255, 144);
    color: rgb(34, 34, 34);
    border-radius: 30px;
    transition: 0.1s ease;
    box-sizing: 10px;
}
.top__osn{
    height: 125px;
    display: flex;
    justify-content: space-between;
    padding: 20px 15px;
    transition: 1s ease all;
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.down_h1{
    margin: 40px 0px 15px 30px;
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
    color: #3d3d3ddc;
}
/* Таймер и его свойства */
.time_all{
    display: flex;
    flex-wrap: wrap;
    width: 190px;
    height: 100px;
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 1px 10px 5px 1px rgb(192 192 192);
    transition-duration: 1s;
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.time_all:hover{
    padding: 18px;
    box-shadow: 0px 5px 2px 0px rgb(192 192 192);
}
.time__p{
    font-weight: 600;
    font-size: 15px;
    color: #202020ec;

}
/* Таймер и его свойства */

.target{
    display: flex;
    margin: 0px 0px 30px 0px;
    background-color: rgb(255, 255, 255);
    width: 575px;
    height: auto;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 2px 4px 0px rgb(94, 94, 94);
    margin-left: 3%;
    transition: 1s ease all;
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.div_vova{
    width: 580px;
    display: flex;
}
.target:hover{
    width: 585px;
    height: auto + 10px;
    padding: 15px;
}
.target1{
    display: flex;
    flex-wrap: wrap;
}
.target1__input{
    display: flex;
    width: 250px;
    margin-bottom: 10px;
    border: 1px solid rgb(241, 241, 241);
    font-size: 18px;
    color: rgb(34, 34, 34);
    font-weight: 600;
    padding: 5px 7px;
    border-radius: 10px;
    transition: 0.8s ease ;
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    box-shadow: 0px 5px 10px 0px rgb(206, 206, 206);
    
}
.target1__input:hover{
    padding: 7px 9px;
    border: 1px solid rgb(167, 0, 0);
}
.target1__img{
    display: flex;
    margin: 10px 0px;
}
.target1__p{
    /* display: flex; */
    color: #000000af;
    font-size: 17px;
    font-weight: 600;
    margin: 0px 0px 10px 0px;
    font-weight: 700;
}
label{
    border: 0px;
}
.Btn_Save{
    display: flex;
    width: 350px;
    padding: 25px 20px;
    justify-content: center;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    margin: 30px 0px 40px 3%;
    background-color: white;
    font-family: "Sourse Sans Pro", sans-serif;
    color: rgba(24, 24, 24, 0.879);
    font-size: 17px;
    border: 0px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0px 2px 4px 0px rgb(94, 94, 94);
    transition-duration: 0.6s;
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.Btn_Save:hover{
    padding: 23px 18px;
    
}
.Btn_Save:active{
    transition-duration: 0.1s;
    position: relative;
    color: rgb(115, 6, 6);
    top: 4px;
    box-shadow: 0px 1px 2px 0px rgb(94, 94, 94);
}




/* Для дроби */
.frac {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    letter-spacing: 0.001em;
    text-align: center;
    color: #000000af;
    font-size: 17px;
    font-weight: 600;
    margin: 0px 0px 10px 0px;
    font-weight: 700;
}
.frac > span {
    display: block;
    padding: 0.1em;
}
.frac span.bottom {
    border-top: thin solid black;
    color: #000000af;
    font-size: 17px;
    font-weight: 600;
    margin: 0px 0px 10px 0px;
    font-weight: 700;
}
.frac span.symbol {
    display: none;
    color: #000000af;
    font-size: 17px;
    font-weight: 600;
    margin: 0px 0px 10px 0px;
    font-weight: 700;
} 
/* Для дроби */
.form_otv{
    width: 100%;
}