html{
    scroll-behavior: smooth;
  }
body{
  margin: 0px 0px;  
}
p{
    font-family: "Sourse Sans Pro", sans-serif;
}
footer{
    background-color: rgb(41, 41, 41);
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}
/* h */
h1{
    color: #000000e3;
    font-family: "Sourse Sans Pro", sans-serif;
    font-weight: 800;
    font-size: 26px;
    margin: 0px;
    padding: 20px 2%;
}
h2{
    text-align: center;
    color: #000000af;
    font-family: "Sourse Sans Pro", sans-serif;
    padding: 20px 85px;
    font-weight: 800;
    font-size: 20px;
    margin: 0px;
    padding: 15px 0px;
}
h3{
    color: #000000af;
    font-family: "Sourse Sans Pro", sans-serif;
    font-weight: 600;
    font-size: 21px;
    margin-left: 2%;
}
h4{
    display: flex;
    width: 100%;
    flex-grow: 1;
    color: #000000d4;
    font-family: "Sourse Sans Pro", sans-serif;
    font-weight: 600;
    padding: 10px 0px 20px 0px;
    font-size: 24px;
    margin: 0px; 
}
h6{
    display: flex;
    width: 100%;
    text-align: center;
    font-size: 25px;
    margin: 0px;
    color: #000000af;
}
/* h */
.footer_line{
    width: 210px;
    margin-left: 10px;
    height: 1px;
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;   
}
.footer__down__p{
    font-weight: 600;
    font-size: 13px;
    color: #ffffffdc;
    margin: 0px;
    padding: 10px 0px 10px 10px;
}
.footer_icon{
    border-radius: 100%;
    width: 25px;
    height: 25px;
    position: relative;
    top: 7px;
    margin-right: 5px;
}
.footer_icong{
    border-radius: 100%;
    width: 30px;
    height: 30px;
    position: relative;
    bottom: 5px;
}
/* Загрузка */
.preloader {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: #e0e0e0;
    z-index: 1001;
  }
  
.preloader__row {
    position: relative;
    top: 50%;
    left: 50%;
    width: 70px;
    height: 70px;
    margin-top: -35px;
    margin-left: -35px;
    text-align: center;
    animation: preloader-rotate 2s infinite linear;
}
  
.preloader__item {
    position: absolute;
    display: inline-block;
    top: 0;
    background-color: #337ab7;
    border-radius: 100%;
    width: 35px;
    height: 35px;
    animation: preloader-bounce 2s infinite ease-in-out;
}
  
.preloader__item:last-child {
    top: auto;
    bottom: 0;
    animation-delay: -1s;
}
  
@keyframes preloader-rotate {
    100% {
      transform: rotate(360deg);
    }
}
  
@keyframes preloader-bounce {
  
    0%,
    100% {
      transform: scale(0);
    }
  
    50% {
      transform: scale(1);
    }
  }
  
  .loaded_hiding .preloader {
    transition: 0.3s opacity;
    opacity: 0;
  }
  
  .loaded .preloader {
    display: none;
  }
/* Загрузка */

.overline{
    text-decoration: overline solid 0.01px;
    left: 1px;
    display: flex;
    margin: 0px;
    color: #000000af;
    font-size: 17px;
    font-weight: 600;
}
/* Шапка */
header{
    box-shadow: 10px rgb(94, 94, 94);
}
.site_icon{
    width: 70px;
    height: 70px;
    border-radius: 100%;
    background-color: firebrick;
    margin-left: 15px;
    background-image: url(https://cdn.discordapp.com/attachments/1045710290362322976/1071836156452405348/20230126_104631.png);
}
.heading_text{
    display: flex;
    flex-grow: 1;
    margin-left: 15px;
}
.heading_text__p{
    font-size: 23px;
    font-weight: 600;
}
.header__div{
    display: flex;
    box-shadow: 10px rgb(94, 94, 94);
    width: 100%;
    height: 100px;
    background: rgb(88,254,92);
    background: linear-gradient(90deg, rgba(88,254,92,1) 0%, rgba(115,254,118,1) 32%, rgba(178,255,176,1) 100%);
    justify-content: space-between;
    align-items: center;
}
/* Шапка */
.osn{
    width: 100%;
    height: 100%;
    background-color: rgb(240, 240, 240);
}
.beginning{
    display: flex;
    justify-content: space-evenly;
    padding: 15px 30px;
}
.var{
    display: flex;
    position: relative;
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
    box-shadow: 0px 10px 5px 0px rgb(192, 192, 192);
    text-decoration: none;
    transition: 0.5s ease;
    top: 0px;
    transition: cubic-bezier(0.165, 0.84, 0.44, 1);
    transition-duration: 1s
}
.var:focus {
    padding: 0px 2px;
  }
.var__p{
    color: #000000af;
    font-family: "Sourse Sans Pro", sans-serif;
    font-weight: 600;
    font-size: 17px;
    margin: 0px;
    padding: 20px 70px;
}
.var:active{
    top: 5px;
    transition: 0.1s ease;
    display: flex;
    box-shadow: 0px 2px 4px 0px rgb(94, 94, 94);
    color: black;
}
.var:hover{
    position: relative;
    /* background-color: rgb(186, 255, 180); */
    background: linear-gradient(90deg, rgb(234, 255, 235) 0%, rgb(214, 255, 214) 32%, rgb(187, 255, 185) 100%);
    color: rgb(34, 34, 34);
    border-radius: 30px;
    transition: 0.3s ease;
    box-sizing: 10px;
}
.plan{
    transition: cubic-bezier(0.165, 0.84, 0.44, 1);
    margin-left: 30px;
    padding: 0px 0px 100px 0px ;
    width: auto;
    display: flex;
    flex-direction: column;
}
.task{
    display: flex;
    background-color: #d4ffc1;
    width: border-box;
    border-radius: 15px;
    font-family: "Sourse Sans Pro", sans-serif;
    width: fit-content;
    margin: 0px 0px 20px 0px;
    cursor: pointer;
}
.line{
    background-color: black;
    border-radius: 30px;
    height: 1px;
    width: 92%;
    margin: 0% 4% 0% 4%;
}
.task__a{
    display: flex;
    padding: 10px 10px;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    font-family: "Sourse Sans Pro", sans-serif;
    color: #000000af;
}
.task__a:hover{
    color: rgb(1, 45, 58);
    transform: all 0.5s ease;
    transition-duration: 0.5s;
    width: 90px;
}
.task__a:active{
    color: rgb(63, 0, 114);
    transform: all 0.1s ease;
}
.task__sum:hover{
    background: rgb(215,215,215);
    /* background: linear-gradient(270deg, rgba(215,215,215,1) 0%, rgba(227,227,227,1) 28%, rgba(245,245,245,1) 100%); */
    background: linear-gradient(90deg, rgb(234, 255, 235) 0%, rgb(214, 255, 214) 32%, rgb(187, 255, 185) 100%);
    width: 105px;
}


.task__a:focus{
    width: 120px;
    border-radius: 15px 15px 0px 0px;
  }
.task__sum{
    display: flex;
    transition: cubic-bezier(0.165, 0.84, 0.44, 1);
    transition-duration: 1s;
    width: 100px;
    padding: 15px 90px 15px 10px;
    border-radius: 15px 15px ;
    font-size: 18px;
    font-weight: 600;
    font-family: "Sourse Sans Pro", sans-serif;
    color: #000000af;
    background-color: white;
    cursor: pointer;
    box-shadow: 0px 1px 0.5px 0px rgb(192 192 192);
}

/* .var__a1:hover{
    color: rgb(0, 20, 56);
    background-color: rgb(122, 219, 219);
    border-radius: 25px;
    margin-top: 30px;
    padding: 25px 90px;
}
.var__a2:hover{
    color: rgb(0, 20, 56);
    background-color: rgb(122, 219, 219);
    border-radius: 25px;
    margin-top: 30px;
}
.var__a3:hover{
    color: rgb(0, 20, 56);
    background-color: rgb(122, 219, 219);
    border-radius: 25px;
    margin-top: 30px;
}
.var__a4:hover{
    color: rgb(0, 20, 56);
    background-color: rgb(122, 219, 219);
    border-radius: 25px;
    margin-top: 30px;
}
.var__a5:hover{
    color: rgb(0, 20, 56);
    background-color: rgb(122, 219, 219);
    border-radius: 25px;
    margin-top: 30px;
} */
/* куча ерунды */

/* Ссылка и образ при нажати на "вариант" */
.back__a{
    display: flex;
    background-color: rgb(255, 255, 255);
    padding: 15px 30px 15px 33px;
    border-radius: 30px;
    text-decoration: none;
    align-items: center;
    font-size: 19px;
    font-weight: 700;
    text-decoration: none;
    color: #000000af;
    top: 0px;
    box-shadow: 0px 5px 10px 0px rgb(89 89 89);
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55)
}
.back__arrow{
    background-image: url(img/arrow.png);
    padding: 9px 9px;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    display: flex;
}
.back__div{
    display: flex;
    align-items: center;
    margin: 0px 0px 0px 3px;
}
.back__a{
    margin: 0px 10px 0px 0px;
    transition: 0.1s ease;
    top: 0px;
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55)
    
}
.back__a:active{
    top: 5px;
    transition: 0.1s ease;
    display: flex;
    box-shadow: 0px 2px 4px 0px rgb(94, 94, 94);
    color: black;
}
.back__a:hover{
    position: relative;
    background-color: rgb(153, 255, 144);
    color: rgb(34, 34, 34);
    border-radius: 30px;
    transition: 0.1s ease;
    box-sizing: 10px;
}
.top__osn{
    height: 125px;
    display: flex;
    justify-content: space-between;
    padding: 20px 15px;
    transition: 1s ease all;
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.down_h1{
   margin-left: 3%;
    font-size: 19px;
    font-weight: 700;
    text-decoration: none;
    color: #000000dc;
}
/* Таймер и его свойства */
.time_all{
    display: flex;
    flex-wrap: wrap;
    width: 190px;
    height: 100px;
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 1px 10px 5px 1px rgb(192 192 192);
    transition-duration: 1s;
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.time_all:hover{
    padding: 18px;
    box-shadow: 0px 5px 2px 0px rgb(192 192 192);
}
.time__p{
    font-weight: 600;
    font-size: 15px;
    color: #202020ec;

}
/* Таймер и его свойства */

.target{
    display: flex;
    margin: 0px 0px 30px 0px;
    background-color: rgb(255, 255, 255);
    width: 575px;
    height: auto;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 2px 4px 0px rgb(94, 94, 94);
    margin-left: 3%;
    transition: 1s ease all;
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.div_vova{
    width: 580px;
    display: flex;
}
.target:hover{
    width: 585px;
    height: auto + 10px;
    padding: 15px;
}
.target1{
    display: flex;
    flex-wrap: wrap;
}
.target1__input{
    display: flex;
    border: 1px solid rgb(241, 241, 241);
    font-size: 18px;
    color: rgb(34, 34, 34);
    font-weight: 600;
    padding: 5px 7px;
    border-radius: 10px;
    transition: 0.8s ease ;
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    box-shadow: 0px 5px 10px 0px rgb(206, 206, 206);
    
}
.target1__input:hover{
    padding: 7px 9px;
    border: 1px solid rgb(167, 0, 0);
}
.target1__img{
    display: flex;
    margin: 10px 0px;
}
.target1__p{
    /* display: flex; */
    color: #000000af;
    font-size: 17px;
    font-weight: 600;
    margin: 0px 0px 10px 0px;
    font-weight: 700;
}
label{
    border: 0px;
}
.Btn_Save{
    padding: 10px 20px;
    height: 50px;
    margin: 30px 0px 40px 3%;
    background-color: white;
    font-family: "Sourse Sans Pro", sans-serif;
    color: rgba(24, 24, 24, 0.879);
    font-size: 17px;
    border: 0px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0px 2px 4px 0px rgb(94, 94, 94);
    transition-duration: 0.6s;
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.Btn_Save:hover{
    padding: 8px 8px;
}
.Btn_Save:active{
    transition-duration: 0.1s;
    position: relative;
    color: rgb(115, 6, 6);
    top: 4px;
    box-shadow: 0px 1px 2px 0px rgb(94, 94, 94);
}




/* Для дроби */
.frac {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    letter-spacing: 0.001em;
    text-align: center;
    color: #000000af;
    font-size: 17px;
    font-weight: 600;
    margin: 0px 0px 10px 0px;
    font-weight: 700;
}
.frac > span {
    display: block;
    padding: 0.1em;
}
.frac span.bottom {
    border-top: thin solid black;
    color: #000000af;
    font-size: 17px;
    font-weight: 600;
    margin: 0px 0px 10px 0px;
    font-weight: 700;
}
.frac span.symbol {
    display: none;
    color: #000000af;
    font-size: 17px;
    font-weight: 600;
    margin: 0px 0px 10px 0px;
    font-weight: 700;
} 
/* Для дроби */
.form_otv{
    width: 100%;
}